 
.bodybg
  {
      background-color:#ffffff;
      margin: 4%;
      border-radius: 20px;
  }
  .bodybg table{
        width: 100%;
  }
body
  {
      background-color:#D8D8D8;
  }  
  label{
      font-size: 18px;
  }
  
  form {
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 8px;
  }
  

  
  input[type=text] {
    width: 50%;
    height: 40px;
    padding: 5px 10px;
    margin: 1px 0;
    box-sizing: border-box;
    border: 1px solid  #4bc970;
    border-radius: 5px;
  }
  
  select {
    width: 50%;
    height: 40px;
    padding: 5px 10px;
    margin: 1px 0;
    box-sizing: border-box;
    border: 1px solid  #4bc970;
    border-radius: 5px;
  }
  
  .button {
    padding: 6px 10px 10px 10px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
  
  }
  .button:hover {
    cursor: pointer;
  }

  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }
